
a{
    color:black;
    text-decoration:none;
}
h1{
    font-size:45px;
    text-align:center;
    margin: 0px;
    padding: 10px;
}
ol{
    border-right: 1px solid;
    width: 100px;
    margin: 0;
    padding: 20px;
}
nav{
    padding: 0px;
    display: block;
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#article{
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-left: 1px solid;
    border-right: 1px solid;

}

#topMenu ul li{
    list-style: none;
    color: white;
    background-color: lightslategrey;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}
#topMenu .menuLink{
    text-decoration: none;
    color: white;
    display: block;
    width: 150px;
    font-size: 12px;
    font-weight: bold;
}
#topMenu .menuLink:hover{
    background-color: black;
}